.contact-section {
  padding-top: 20px;
  padding-bottom: 60px;

  text-align: center;

  background-color: $dark-background-color;

  .title {
    color: $contact-section-title-color;

    font-size: 30px;
    font-weight: 900;
    letter-spacing: .75px;

    margin-bottom: 0;
  }

  .info {
    color: $contact-section-info-color;

    font-size: 20px;
    font-weight: 300;

    letter-spacing: .5px;
  }

  .contact-info {
    display: flex;
    justify-content: center;

    margin-top: 20px;

    color: $contact-section-info-color;

    .street {
      margin-right: 25px;
    }

    .street, .phone {
      font-size: 14px;
      letter-spacing: 0.28px;
    }
  }

  .socials {
    display: flex;
    justify-content: center;
    align-items: center;

    .social {
      margin-top: 30px;
      margin-right: 5px;
      
      &:hover {
        cursor: pointer;
      }
    }
  }
}
