<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Paint</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <div class="header-logo">
                <img src="/img/logo.svg" alt="logo">
                <span class="header-logo-text">ebpaint</span>
            </div>
            <nav class="nav">
                <ul class="nav-list">
                    <li class="nav-list__item">
                        <a href="#" class="nav-list__item-link">
                            Home
                        </a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#" class="nav-list__item-link">
                            Portfolio
                        </a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#" class="nav-list__item-link">
                            About
                        </a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#" class="nav-list__item-link">
                            Blog
                        </a>
                    </li>
                    <li class="nav-list__item">
                        <a href="#" class="nav-list__item-link">
                            Contact
                        </a>
                    </li>
                </ul>
                <div class="hamburger">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </nav>
        </header>

        <main class="main">
            <section class="welcome-section">
                <h1 class="title">
                    We are <span class="title-main">Webpaint</span>
                </h1>
                <h2 class="subtitle">
                    <span class="subtitle-italic">digital & branding</span>
                    agency based in Jupiter and we would love to turn ideas into beautiful things.
                </h2>

                <button class="button">See portfolio</button>
            </section>

            <section class="feature-section">
                <div class="features">
                    <div class="feature">
                        <img class="logo" src="/img/feature/android.svg" alt="">
                        <h4 class="title">
                            Consectetur
                        </h4>
                        <div class="description">
                            Vestibulum id ligula porta  euismod semper. Aenean lacinia bibendum nulla sed consectetur dui.
                        </div>
                    </div>
                    <div class="feature">
                        <img class="logo" src="/img/feature/mac.svg" alt="">
                        <h4 class="title">
                            Consectetur
                        </h4>
                        <div class="description">
                            Vestibulum id ligula porta  euismod semper. Aenean lacinia bibendum nulla sed consectetur dui.
                        </div>
                    </div>
                    <div class="feature">
                        <img class="logo" src="/img/feature/camera.svg" alt="">
                        <h4 class="title">
                            Consectetur
                        </h4>
                        <div class="description">
                            Vestibulum id ligula porta  euismod semper. Aenean lacinia bibendum nulla sed consectetur dui.
                        </div>
                    </div>
                    <div class="feature">
                        <img class="logo" src="/img/feature/timer.svg" alt="">
                        <h4 class="title">
                            Consectetur
                        </h4>
                        <div class="description">
                            Vestibulum id ligula porta  euismod semper. Aenean lacinia bibendum nulla sed consectetur dui.
                        </div>
                    </div>

                </div>
            </section>

            <section class="work-section">
                <h3 class="title">Our featured works</h3>
                <p class="info">Curabitur blandit tempus porttitor. Maecenas faucibus mollis interdum.</p>

                <div class="filters">
                    <div class="filter active">
                        All
                    </div>
                    <div class="filter">
                        Graphic
                    </div>
                    <div class="filter">
                        Illustration
                    </div>
                    <div class="filter">
                        Motion
                    </div>
                </div>

                <div class="works">
                    <div class="work"><img src="/img/work/1.jpg" alt=""></div>
                    <div class="work"><img src="/img/work/2.jpg" alt=""></div>
                    <div class="work"><img src="/img/work/3.jpg" alt=""></div>
                    <div class="work"><img src="/img/work/4.jpg" alt=""></div>
                    <div class="work"><img src="/img/work/5.jpg" alt=""></div>
                    <div class="work"><img src="/img/work/6.jpg" alt=""></div>
                    <div class="work"><img src="/img/work/7.jpg" alt=""></div>
                    <div class="work"><img src="/img/work/8.jpg" alt=""></div>
                    <div class="work"><img src="/img/work/9.jpg" alt=""></div>
                    <div class="work"><img src="/img/work/10.jpg" alt=""></div>
                    <div class="work"><img src="/img/work/11.jpg" alt=""></div>
                    <div class="work"><img src="/img/work/12.jpg" alt=""></div>
                </div>
            </section>

            <section class="contact-section">
                <h3 class="title">Get in touch</h3>
                <p class="info">Vestibulum id ligula porta felis euismod semper,malesuada euismod.</p>
                <div class="contact-info">
                    <div class="street">
                        <img src="/img/contact/geo.svg" alt="">
                        Moonshine Street No: 14/05 Light City, Jupiter
                    </div>
                    <div class="phone">
                        <img src="/img/contact/tel.svg" alt="">
                        0247 541 65 87
                    </div>
                </div>
                <div class="socials">
                    <img class="social" src="/img/contact/socials/rss.svg" alt="">
                    <img class="social" src="/img/contact/socials/facebook.svg" alt="">
                    <img class="social" src="/img/contact/socials/twitter.svg" alt="">
                    <img class="social" src="/img/contact/socials/dribble.svg" alt="">
                    <img class="social" src="/img/contact/socials/pinterest.svg" alt="">
                </div>
            </section>
        </main>
    </div>
</body>
</html>
