@import "variables";
@import "fonts";
@import "container";
@import "sections/header";
@import "sections/welcome-section";
@import "sections/feature-section";

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

a {
  text-decoration: none;
}
