$header-background-color: #262626;
$header-color: #d9d9d9;

$welcome-section-button-color: white;

$features-section-background-color: #f8f8f8;
$features-section-color: #616161;

$white-red-color: #ff6760;
