$header-color: #d9d9d9;

$welcome-section-button-color: white;

$features-section-background-color: #f8f8f8;
$features-section-color: #616161;

$work-section-color: #616161;
$work-section-filter-color: white;

$contact-section-title-color: #e0e0e0;
$contact-section-info-color: #bebebe;

$footer-line-color: grey;
$footer-color: #bebebe;

$white-red-color: #ff6760;
$grey-color: #595959;
$dark-background-color: #262626;
